{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    {% for post in posts %}
    <div id="post={{ post.pk }}" class="col col-lg-4 offset-lg-4 mb-4">
        <div class="card">
            <div class="card-header">
                <sapn>
                    <a href="">
                        <img src="{{ post.author.img_profile.url }}"
                             style="width: 30px;height: 30px; border-radius: 100%;">
                    </a>
                </sapn>
                <span>{{ post.author }}</span>
            </div>
            <div class="card-body">
                <img src="{{ post.photo.url }}" alt="" class="card-img">

                {% if user.is_authenticated %}
                <form action="{% url 'posts:post-like-toggle' post_pk=post.pk %}" method="POST">

                {% csrf_token %}
                    <button class="btn btn-primary"
					        type="submit">
						{% if user in post.like_users.all %}
							좋아요 해제
						{% else %}
							좋아요
						{% endif %}
					</button>
                </form>
                {% endif %}

				<div>
					<span>좋아하는 사람 </span>
					<strong>{{ post.like_users.all|join:", " }}</strong>
				</div>
                <ul class="list-unstyled">
                    {% for comment in post.comments.all %}
                    <li>
                        <strong>{{ commetn.author }}</strong>
                        <strong>{{ comment.html|safe }}</strong>
                    </li>
                    {% endfor %}
                </ul>
                <!--댓글 작성 form구현-->
                <!--1. 유저가 로그인 한 경우에만 보여지도록 함-->
                <!--2. 내부 요소는 textarea[name=content]와 버튼하나-->
                <!--3. action속성의 값을-->
                {% if user.is_authenticated %}
                <form action="{% url 'posts:comment-create' post_pk=post.pk %}" method="POST">
                    {% csrf_token %}
                    {{ comment_form }}
                    <button class="btn btn-primary" type="submit">작성</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}