{% load static %}
<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>Instagram</title>
</head>
<body>
    <div id="wrap">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="{% url 'posts:post-list' %}" class="navbar-brand">Instagram</a>
            <form action="#" class="form-inline">
                <input type="tel" class="form-control" placeholder="검색">
            </form>
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item mr-sm-1">
                    <a href="{% url 'posts:post-create' %}" class="btn btn-outline-secondary">Add Posts</a>
                </li>
                <li class="nav-item mr-sm-1">
                    <a href="#" class="btn btn-outline-secondary">Explore</a>
                </li>
                <li class="nav-item mr-sm-1">
                    <a href="#" class="btn btn-outline-secondary">Favorite</a>
                </li>
                <li class="nav-item mr-sm-1">
                    <a href="#" class="btn btn-outline-secondary">
                        profile
                        {% if user.is_authenticated %}
                            ({{ user.username }})
                        {% endif %}
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <form action="{% url 'members:logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary">Logout</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'members:login' %}" class="btn btn-outline-secondary">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'members:signup' %}" class="btn btn-outline-secondary">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <nav class="container-fluid mt-3">
            {% block content %}
            {% endblock %}
        </nav>
    </div>
</body>
</html>